.bg-image-o {
    background-image: url('../../assets/client/bg.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    /* Full viewport height */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* Stack content vertically */
}

.btn-custom {
    margin: 0 10px;
}