<!-- events.component.html -->
<app-navbar></app-navbar>
<app-carousel></app-carousel>
<app-search></app-search>

<div class="container" style="margin: 35px;">
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <!-- Use ng-container to wrap the *ngFor directive -->
    <ng-container *ngFor="let event of eventList">
      <div class="col">
        <div class="card h-100">
          <img
            src="../../../../assets/client/x.png"
            class="card-img-top"
            alt="{{ event.name }}"
          />
          <div class="card-body">
            <h5 class="card-title">{{ event.name }}</h5>
            <p class="card-text">{{ event.description }}</p>
            <p class="card-text"><small class="text-muted">{{ event.category }}</small></p>
            <p class="card-text"><small class="text-muted">{{ event.location }}</small></p>
            <p class="card-text"><small class="text-muted">{{ event.eventDate | date:'short' }}</small></p>

       
             <button  (click) ="edit(event.id)" class="btn btn-primary" >View Details</button>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>

<app-footer></app-footer>
